/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{ margin: 0; padding: 10px; }

.todo_app{ background-color: #6397dd; width: 100%; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.todo_wrap{ background-color: #fff; padding: 15px; width: 400px; margin: auto; border-radius: 6px; box-shadow: 0 0 15px #00000050; }
.todo_wrap h2{ font-size: 28px; margin-bottom: 15px; }
.input_group{ display: flex; column-gap: 5px; }
.input_group input{ border: #bbb solid 1px; padding: 15px 15px; border-radius: 4px; flex: 1; }
.input_group button{ border: #874ee0 solid 1px; background-color: #874ee0; padding: 0 5px; border-radius: 4px; font-size: 42px; color: #fff; cursor: pointer; }
.foot{ display: flex; column-gap: 5px; align-items: center; justify-content: space-between; font-weight: 500; }
.foot button{ 
  font-size: 18px; border: #874ee0 solid 1px; background-color: #874ee0; padding: 10px 15px; border-radius: 4px; color: #fff; cursor: pointer;
  font-weight: 600;
 }

 .todo_list_wrap{ margin: 15px 0;}
 .todo_list{ display: flex; justify-content: space-between; background-color: #f5f0f5; border-radius: 4px; }
 .todo_list:not(:first-child){ margin-top: 5px; }
 .todo_list span{ font-weight: 500; padding: 10px 10px; user-select: none; }
 .todo_list button{ border: 0; border-radius: 0 4px 4px 0; background-color: #d65b4c; color: #fff; font-size: 18px; padding: 0 10px; line-height: 0; cursor: pointer; }
 .todo_list.enabled{ background-color: rgb(213, 253, 213); color: green; cursor: pointer;  }
 .todo_list.disabled{ color: grey; }

 .gallery_list, .profile_list{ padding: 15px; max-width: 400px; margin: auto; }
 .gallery_list ul, .profile_list ul{ padding-left: 15px;}

 .profile {
    border: 1px solid #aaa; border-radius: 6px; margin-top: 20px; padding: 10px;
}
